/* --- Global Styles --- */
body {
     background-color: #6fa8dc;
    text-align: center;
    margin: 0;
    padding: 20px;
    font-family: 'Cherry Bomb One';font-size: 22px;
}




.box{
     display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
border: ridge 10px blueviolet;
    border-radius: 30px;
    padding: 30px;
    margin: 3px auto;
    width: 500px;
    background-color: steelblue;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    corner-shape: bevel;
}


p{
    color: yellow;
    font-size: 32px;
    margin: 15px 0;
}




