.app_box{
    border: ridge 10px blueviolet;
    border-radius: 30px;
    padding: 30px;
    margin: 3px auto;
    width: 1000px;
    
    background-color: steelblue;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    corner-shape: bevel;}
p {
    color: yellow;
    font-size: 1cm;
    margin: 15px 0;
}
button {
    color: blueviolet;
    background-color: chocolate;
    font-size: 35px;
    margin: 20px 0;
    padding: 15px 30px;
    cursor: pointer;
    width: 200px;
    border-radius: 100px;
    font-family: 'Cherry Bomb One';
    corner-shape: squircle;
}
.inputs{
    background-color: rgb(143, 143, 197);
    border-radius: 15px;
    font-size: 1cm;
    margin: 20px 0;
    width: 90%;
    corner-shape: scoop;
    font-family: 'Cherry Bomb One';
    text-align: center;
}
label{
      color: black;
    font-size: 30px;
    margin: 20px 0;
}
body{
    background-color: #6fa8dc;
    text-align: center;
    margin: 0;
    padding: 20px;
    font-family: 'Cherry Bomb One';
    font-size: 22px;   
}