/* --- Global Styles --- */
body {
    background-color: #6fa8dc;
    text-align: center;
    margin: 0;
    padding: 20px;
    font-family: 'Cherry Bomb One';
    font-size: 22px;
}




.box{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    
    border: ridge 10px blueviolet;
    border-radius: 30px;
    padding: 30px;
    background-color: steelblue;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;

    corner-shape: bevel; 
        display: flex;
    justify-content: center; 
    gap: 20px;              
    flex-wrap: wrap
}

.box {
    width: 450px;
    margin: 10px;
}


p {
    color: yellow;
    font-size: 32px;
    margin: 15px 0;
}




